div{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin: 100px auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top;
    left 
    top
    center
    bottom
    left top
    center bottom
    etc....
    */
}