*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.sec2{
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.sec3{
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.sec4{
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.sec-text{
    width: 100%;
    height: 100px;
}