*{
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 100vh;
    background: url(../images/Hombre.png), url(../images/fondo.jpg);
    /* background-color: rgb(0, 0, 0); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-blend-mode: lighten;
}